button.selected {
  background-color: black;
  color: white;
}
button.selected[disabled] {
  background-color: grey;
}

#colour-swap {
  font-size: large;
  border: 1px solid;
  padding: 1em;
}

.red {
  color: red;
  border-color: red;
  background-color: pink;
}

.green {
  color: green;
  border-color: green;
  background-color: lightgreen;
}

.smooth {
  transition: all 1s ease-in;
}

@keyframes fade-in {
 from { opacity: 0; }
}

@keyframes fade-out {
 to { opacity: 0; }
}

@keyframes slide-from-right {
 from { transform: translateX(90px); }
}

@keyframes slide-from-left {
 from { transform: translateX(-90px); }
}

.slide-Next {
  view-transition-name: slide-Next;
}
::view-transition-old(slide-Next) {
 animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}
::view-transition-new(slide-Next) {
 animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
 600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.slide-Prev {
  view-transition-name: slide-Prev;
}
::view-transition-old(slide-Prev) {
 animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}
::view-transition-new(slide-Prev) {
 animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
 600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
}

.map {
  width: 100%;
  height: 300px;
  margin-top: 1em;
}

body {
  display: grid;
  grid-template-columns: 10em 3fr;
}

#nav {
  margin-right: 1em;
}
