{{block "colour-swap" .}}
  {{template "head" .}}
  {{template "nav" .}}

  <div>
    <h2>Colour swap</h2>

    <div id="colour-swap">Click to swap colours</div>

    <button hx-get="/colour-swap/go"
            hx-trigger="click"
            hx-target="#colour-swap"
            hx-swap="outerHTML">swap</button>
  </div>

  {{template "foot" .}}
{{end}}

{{block "color-swap-go" .}}
  <div id="colour-swap" class="smooth {{.Colour}}">this content should be {{.Colour}}</div>
{{end}}
