{{block "dashboard" .}}
  {{template "head" .}}
  {{template "nav" .}}

  {{template "dashboard-content" .}}

  {{template "foot" .}}
{{end}}

{{block "dashboard-content" .}}
  <h2>Dashboard</h2>
  {{template "news" .News}}
  {{template "weather" .Weather}}
{{end}}

{{block "news" .}}
  <div>
    <h3>News</h3>

    {{range .Items}}
      <li>{{.}}</li>
    {{end}}

    {{if .HasPrev}}
      <button hx-get="/news/{{.PrevPage}}/{{.Limit}}"
              hx-target="closest div"
              hx-trigger="click">Prev</button>
    {{end}}

    {{if .HasNext}}
      <button hx-get="/news/{{.NextPage}}/{{.Limit}}"
              hx-target="closest div"
              hx-trigger="click">Next</button>
    {{end}}
  </div>
{{end}}

{{block "weather" .}}
  <div>
    <h3>Weather</h3>

    {{range .Items}}
      <li>{{.}}</li>
    {{end}}

    {{if .HasPrev}}
      <button hx-get="/weather/{{.PrevPage}}/{{.Limit}}"
              hx-target="closest div"
              hx-trigger="click">Prev</button>
    {{end}}

    {{if .HasNext}}
      <button hx-get="/weather/{{.NextPage}}/{{.Limit}}"
              hx-target="closest div"
              hx-trigger="click">Next</button>
    {{end}}
  </div>
{{end}}
