{{block "dashboard-page" .}}
  {{template "head" .}}
  {{template "nav" .}}

  {{template "dashboard" .}}

  {{template "foot" .}}
{{end}}

{{block "dashboard" .}}
  <h2>Dashboard</h2>
  {{template "news" .News}}
  {{template "weather" .Weather}}
  {{template "sport" .Sport}}
{{end}}

{{block "news" .}}
  <div>
    <h3>News</h3>

    {{template "items" .}}
  </div>
{{end}}

{{block "weather" .}}
  <div>
  </div>
{{end}}

{{block "sport" .}}
  <div>
  </div>
{{end}}

{{block "items" .}}
    {{range .Items}}
      <li>{{.}}</li>
    {{end}}

    {{if .HasPrev}}
      <button hx-get="/news/{{.PrevPage}}/{{.Limit}}"
              hx-target="closest div"
              hx-trigger="click">Prev</button>
    {{end}}

    {{if .HasNext}}
      <button hx-get="/news/{{.NextPage}}/{{.Limit}}"
              hx-target="closest div"
              hx-trigger="click">Next</button>
    {{end}}
{{end}}
