{{block "echarts" .}}
  {{template "head" .}}
  {{template "nav" .}}

  {{template "echarts-content" .}}

  {{template "foot" .}}
{{end}}

{{block "echarts-content" .}}
  <div>
    <h2>echarts</h2>

    <button hx-get="/echarts"
            hx-target="next .all-echarts">Refresh</button>

    <div class="all-echarts">
      {{template "all-echarts" .}}
    </div>
  </div>
{{end}}

{{block "all-echarts" .}}
  <p>Rendered: {{.Servertime}} (duration {{.RenderingTime}})</p>
  {{range .Graphs}}
    {{.Element}}
    {{.Script}}
  {{end}}
{{end}}
