{{block "head" .}}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" src="/js/htmx.min.js"></script>
    <script type="text/javascript" src="/js/hyperscript.min.js"></script>
  </head>

  <body>
{{end}}
