{{block "leaflet" .}}
  {{template "head" .}}
  {{template "nav" .}}

  {{template "leaflet-content" .}}

  {{template "foot" .}}
{{end}}

{{block "leaflet-content" .}}
  <div id="map" class="map"></div>
  <div id="chosen-marker"></div>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

  <script>
    const DEBOUNCE_GETMARKERS_TIMEOUT = 500; // ms
    const mapMarkers = new Map();

    const debounce = (mainFunction, delay) => {
      let timer;

      return function (...args) {
        clearTimeout(timer);

        timer = setTimeout(() => {
          mainFunction(...args);
        }, delay);
      };
    };

    const getMarkers = async (bounds) => {
      if (bounds) {
        const url = "/leaflet/markers-in-bbox?bbox=" + bounds.toBBoxString();
        fetch(url)
          .then((response) => response.json())
          .then((markers) => {
            markers.forEach((m) => {
              if (!mapMarkers.has(m.id)) {
                const newMarker = L.marker([m.latitude, m.longitude]).addTo(map);

                mapMarkers.set(m.id, newMarker)
                newMarker.bindPopup('Loading');

                newMarker.on('click', (e) => {
                  newMarker.setPopupContent('Loading...').openPopup();

                  htmx.ajax('GET', `/leaflet/marker-popup/${m.id}`, {
                    handler: (e, r) => {
                      const content = r.xhr.responseText;
                      newMarker.setPopupContent(content)
                      htmx.process(newMarker.getPopup().getElement())
                    },
                  });
                });
              }
          })
        })
      }
    };

    var map = L.map('map');

    const debouncedGetMarkers = debounce(getMarkers, 250)
    const events = ["load", "viewreset", "move", "zoomlevelschange", "zoom", "moveend", "zoomend", "resize"]

    events.forEach((event) => {
      map.on(event, (e) => debouncedGetMarkers(map.getBounds()));
    });

    map.setView([-26.65, 153.06], 10);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map)
  </script>

{{end}}

{{block "leaflet-marker-choose" .}}
  <div>
    <p>This is {{.Popup.Title}}</p>
    <button hx-post="/leaflet/marker-choose"
            hx-vars="id:{{.Popup.ID}}"
            hx-trigger="click"
            hx-target="closest div"
            hx-swap="outerHTML"
            >Choose</button>
  </div>
{{end}}

{{block "leaflet-marker-unchoose" .}}
  <div>
    <p>This is {{.Popup.Title}}</p>
    <button hx-post="/leaflet/marker-choose"
            hx-vars="id:{{.Popup.ID}}"
            hx-trigger="click"
            hx-target="closest div"
            hx-swap="outerHTML"
            >Unchoose</button>
  </div>
{{end}}
