{{block "nav" .}}
  <ul>
    <li><a href="/">root</a></li>
    <li><a href="/dashboard">dashboard</a></li>
    <li><a href="/comboboxes">comboboxes</a></li>
    <li><a href="/tabs">tabs</a></li>
    <li><a href="/echarts">echarts</a></li>
  </ul>
{{end}}
