{{block "slide-page" .}}
  {{template "head" .}}
  {{template "nav" .}}

  {{template "slide" .}}

  <button name="direction"
          value="Prev"
          class="slider-button"
          hx-get="/slide/go"
          hx-trigger="click"
          hx-target="previous div"
          hx-swap="outerHTML transition:true"
          hx-disabled-elt=".slider-button"
          >Prev</button>
  <button name="direction"
          value="Next"
          class="slider-button"
          hx-get="/slide/go"
          hx-trigger="click"
          hx-target="previous div"
          hx-swap="outerHTML transition:true"
          hx-disabled-elt=".slider-button"
          >Next</button>

  {{template "foot" .}}
{{end}}

{{block "slide" .}}
  <div class="slide-{{.Direction}}">
    {{range 5}}
      <p>this is page {{$.Page}}</p>
    {{end}}
  </div>
{{end}}
