{{block "tabs" .}}
  {{template "head" .}}
  {{template "nav" .}}

  <div>
    <h2>Tabs</h2>
    <div hx-get="/tabs/1" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>
  </div>

  {{template "foot" .}}
{{end}}

{{block "tabs-content" .}}
  <div class="tab-container">
    <div class="tab-chooser" hx-target="closest .tab-container" hx-swap="outerHTML">
      {{range .Available -}}
        <button {{if eq . $.ID}}class="selected"{{end}}
                hx-get="/tabs/{{.}}"
                hx-disabled-elt=".tab-chooser button"
          >tab {{.}}</button>
      {{- end}}
    </div>

    <div class="tab-content">{{.Content}}</div>
  </div>
{{end}}
